azure_data_factory_course/adf/pipeline/pl_foreach_demo.json
{
	"name": "pl_foreach_demo",
	"properties": {
		"description": "Filter list of numbers and iterate for each.",
		"activities": [
			{
				"name": "filterNumbers",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.listOfNumbers",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(), 7)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "forEachNumber",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filterNumbers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filterNumbers').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "setVariable",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var1",
								"value": {
									"value": "@string(item())",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"listOfNumbers": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6,
					7,
					8,
					9,
					10
				]
			}
		},
		"variables": {
			"var1": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Control Flow"
		},
		"annotations": [
			"Control Flow"
		]
	}
}