azure_data_factory_course/adf/pipeline/pl_lookup_demo.json
{
	"name": "pl_lookup_department",
	"properties": {
		"description": "Lookup department and set variable for each.",
		"activities": [
			{
				"name": "lookupDepartment",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_input_department",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "forEachDepartment",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookupDepartment",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookupDepartment').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "setVariable",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varDeptName",
								"value": {
									"value": "@item().Dept_Name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"varDeptName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Control Flow"
		},
		"annotations": [
			"Control Flow"
		]
	}
}