azure_synapse_course/syn/pipeline/PL_Raw_Processed_TaxiZone_Param.json
{
	"name": "PL_Raw_Processed_TaxiZone_Param",
	"properties": {
		"activities": [
			{
				"name": "DeleteDirectory",
				"description": "Delete taxi_zone folder from Lakehouse.",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"paramFolderPath": {
								"value": "@variables('varFolderPath')",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ExecStoredProc",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DeleteDirectory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@variables('varStoredProc')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SynWorkspaceServerlessDev",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"varFolderPath": {
				"type": "String",
				"defaultValue": "processed/taxi_zone"
			},
			"varStoredProc": {
				"type": "String",
				"defaultValue": "[Processed].[InsertTaxiZone]"
			}
		},
		"annotations": []
	}
}