azure_synapse_course/syn/pipeline/PL_Raw_Processed_Dynamic.json
{
	"name": "PL_Raw_Processed_Dynamic",
	"properties": {
		"activities": [
			{
				"name": "ForEach FolderPath",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('varInputArray')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "DeleteDirectory",
							"description": "Delete taxi_zone folder from Lakehouse.",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"paramFolderPath": {
											"value": "@item().varFolderPath",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "ExecStoredProc",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DeleteDirectory",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().varStoredProc",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SynWorkspaceServerlessDev",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"varInputArray": {
				"type": "Array",
				"defaultValue": [
					{
						"varFolderPath": "processed/calendar",
						"varStoredProc": "Processed.InsertCalendar"
					},
					{
						"varFolderPath": "processed/payment_type",
						"varStoredProc": "Processed.InsertPaymentType"
					},
					{
						"varFolderPath": "processed/rate_code",
						"varStoredProc": "Processed.InsertRateCode"
					},
					{
						"varFolderPath": "processed/taxi_zone",
						"varStoredProc": "Processed.InsertTaxiZone"
					},
					{
						"varFolderPath": "processed/trip_type",
						"varStoredProc": "Processed.InsertTripType"
					},
					{
						"varFolderPath": "processed/vendor",
						"varStoredProc": "Processed.InsertVendor"
					}
				]
			}
		},
		"annotations": []
	}
}